<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fyndev.screeningtestapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScreeningTestApp">
        <activity
            android:name=".ui.maps.MapsActivity"
            android:label="Maps" />
        <activity
            android:name=".ui.guest.GuestActivity"
            android:label="@string/guest"
            android:parentActivityName=".ui.ChooseActivity" />
        <activity
            android:name=".ui.event.EventActivity"
            android:label="@string/event"
            android:parentActivityName=".ui.ChooseActivity" />
        <activity
            android:name=".ui.ChooseActivity"
            android:parentActivityName=".ui.HomeActivity" />
        <activity android:name=".ui.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>